@import 'tailwindcss';
@config "../../tailwind.config.ts";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior-y: none;
}
@theme {
  --animate-ping: ping 1s ease-in-out infinite;
  @keyframes ping {
    75%,
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
}
